.groups-container {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: calc(100vh - 64px);
    padding-bottom: 1rem;

    max-width: 1440px;

    margin: auto;
    overflow: auto;
}

.groups-header {
    position: sticky;
    top: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 24px;
    z-index: 2;
    background: linear-gradient(
        180deg,
        var(--color-bg),
        var(--color-bg-semi-transparent)
    );
    width: 100%;
    /* outline: 5px solid#000000c9; */

    box-shadow: 0 15px 20px var(--color-bg-semi-transparent);
    backdrop-filter: blur(var(--v-0-5));
}

.groups-list {
    padding-inline: var(--v-4);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-text);
}

.groups-list-loading-container {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groups-list-error-container {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
