.groups-container {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 100%;
    max-height: calc(100vh - 64px);
    padding-bottom: 1rem;

    max-width: 1440px;

    margin: auto;
    overflow: auto;
}

.groups-header {
    position: sticky;
    top: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 24px;
    z-index: 2;
    background: linear-gradient(180deg, #000000, #000000c9);
    width: 100%;
    /* outline: 5px solid#000000c9; */

    box-shadow: 0 15px 20px #000000c9;
    backdrop-filter: blur(2px);
}

.groups-list {
    padding-inline: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
}

.groups-list-loading-container {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.groups-list-error-container {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
