.dashboard-page {
    position: relative;

    height: 100%;
    max-height: calc(100vh - 64px);

    display: grid;
    gap: var(--v-4);
    grid-template-columns: repeat(6, 1fr);

    grid-template-rows: 200px 10fr auto;
    grid-template-areas:
        "user user incomes-graph incomes-graph expenses-graph expenses-graph"
        "incomes-details incomes-details incomes-details expenses-details expenses-details expenses-details"
        "footer footer footer footer footer footer";

    padding-right: var(--v-6);
    padding-left: var(--v-4);
    padding-block: var(--v-2);
}

div > section:not(.footer-container) {
    background: radial-gradient(
        circle,
        var(--color-bg-tertiary),
        var(--color-bg-secondary)
    );

    border-radius: var(--v-4);
    padding: var(--v-4);
    box-shadow: 0 0 4px var(--color-border-primary);
}

.user-container {
    grid-area: user;
}

.balance-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--v-12);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-incomes-graph-container {
    grid-area: incomes-graph;
}

.user-expenses-graph-container {
    grid-area: expenses-graph;
}

.incomes-details-container,
.expenses-details-container {
    overflow-y: auto;

    max-height: 100%;
    min-height: 0;
    background: var(--color-bg);
    padding: var(--v-5);
}

/* .user-incomes-graph-container,
.user-expenses-graph-container {
    height: 200px;
}

.incomes-details-container,
.expenses-details-container {
    height: 500px;
} */

.incomes-details-container {
    grid-area: incomes-details;
    /* background: linear-gradient(45deg, #000, #0e1700, #000); */
    background: radial-gradient(
        circle,
        var(--color-bg-tertiary),
        var(--color-bg-secondary)
    );
    /* border: 1px solid #253d00; */
    box-shadow: 0 0 4px var(--color-border-primary);
}

.expenses-details-container {
    grid-area: expenses-details;
    /* background: linear-gradient(45deg, #000, #0e1700, #000); */
    background: radial-gradient(
        circle,
        var(--color-bg-tertiary),
        var(--color-bg-secondary)
    );
    /* border: 1px solid #253d00; */
    box-shadow: 0 0 4px var(--color-border-primary);
}

.incomes-details-title,
.expenses-details-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--v-3);
    position: sticky;
    top: 0;
    left: 0;
}

.details-line {
    display: flex;
    width: 98%;
    height: 0.15em;
    margin-top: 0.1em;
}

.details-line-income {
    background-color: var(--blue-500);
}

.details-line-expense {
    background-color: var(--red-500);
}

.footer-container {
    grid-area: footer;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--v-2);
    padding-bottom: var(--v-4);
}

@media (max-width: 1024px) {
    .dashboard-page {
        min-height: fit-content;
        /* height: 100%;
        max-height: auto; */
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: auto 1fr 2fr 2fr 1fr; */
        grid-template-rows: auto;
        grid-template-areas:
            "user user"
            "incomes-graph expenses-graph"
            "incomes-details incomes-details"
            "expenses-details expenses-details"
            "footer footer";
        padding-inline: var(--v-4);

        padding-bottom: var(--v-4);
    }

    .balance-container {
        height: 120px;
    }

    .user-incomes-graph-container,
    .user-expenses-graph-container {
        height: 200px;
    }

    .incomes-details-container,
    .expenses-details-container {
        height: 450px;
    }

    /* .expenses-details-container {
        margin-bottom: 44px;
    } */

    .footer-container {
        backdrop-filter: blur(1px);
        background: linear-gradient(
            to top,
            var(--color-bg) 0%,
            transparent 100%
        );

        position: sticky;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 5;

        padding-top: var(--v-4);
    }
}

@media (max-width: 768px) {
    .dashboard-page {
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "user"
            "incomes-graph"
            "expenses-graph"
            "incomes-details"
            "expenses-details"
            "footer";
    }
}
