.dashboard-page {
    display: grid;
    height: 100%;
    gap: 16px;
    grid-template-columns: repeat(6, 1fr);

    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
        "user user incomes-graph incomes-graph expenses-graph expenses-graph"
        "user user incomes-graph incomes-graph expenses-graph expenses-graph"
        "incomes-details incomes-details incomes-details expenses-details expenses-details expenses-details"
        "incomes-details incomes-details incomes-details expenses-details expenses-details expenses-details"
        "incomes-details incomes-details incomes-details expenses-details expenses-details expenses-details"
        "footer footer footer footer footer footer";

    padding-right: 16px;
    padding-block: 8px;

    
}

div > section:not(.footer-container) {
    background: radial-gradient(circle, #001b16, #030a07);
    box-shadow: 0 0 6px #0e2701;

    border-radius: 16px;
    padding: 16px;
}

.user-container {
    grid-area: user;
}

.balance-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 3.0em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-incomes-graph-container {
    grid-area: incomes-graph;
}

.user-expenses-graph-container {
    grid-area: expenses-graph;
}

.incomes-details-container,
.expenses-details-container {
    overflow-y: auto;

    max-height: 100%;
    min-height: 0;
    background: #000;
    padding: 1.2em;
}

.incomes-details-container {
    grid-area: incomes-details;
    /* background: linear-gradient(45deg, #000, #0e1700, #000); */
    background: radial-gradient(circle, #001b16, #030a07);
    /* border: 1px solid #253d00; */
    box-shadow: 0 0 6px #0e2701;
}

.expenses-details-container {
    grid-area: expenses-details;
    /* background: linear-gradient(45deg, #000, #0e1700, #000); */
    background: radial-gradient(circle, #001b16, #030a07);
    /* border: 1px solid #253d00; */
    box-shadow: 0 0 6px #0e2701;
}

.incomes-details-title,
.expenses-details-title {
    font-size: 1.15em;
    font-weight: 700;
    margin-bottom: 0.75em;
    position: sticky;
    top: 0;
    left: 0;
}

.details-line {
    display: flex;
    width: 98%;
    height: 0.15em;
    background-color: rgb(210, 210, 210);
    margin-top: 0.1em;
}

.details-line-income {
    background-color: #00a393;
}

.details-line-expense {
    background-color: #a50042;
}

.incomes-details-title {
}

.expenses-details-title {
}

.footer-container {
    grid-area: footer;
    padding: 16px;
    
}

@media (max-width: 1024px) {
    .dashboard-page{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
        grid-template-areas: 
        "user user"
        "incomes-graph expenses-graph"
        "incomes-details incomes-details"
        "expenses-details expenses-details"
        "footer footer"
        ;
    }

    .balance-container{
        height: 120px;
    }

    .user-incomes-graph-container, .user-expenses-graph-container{
        height: 200px
    } 

    .incomes-details-container, .expenses-details-container{
        height: 500px;
    }

    .footer-container{
        background-color: transparent;
        position: fixed;
        bottom: 10px;
        margin: 0 auto;
            left: 0;
        right: 0;
        z-index: 5;
    }
}



@media (max-width: 768px) {
    .dashboard-page{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
           "user"
           "incomes-graph"
           "expenses-graph"
           "incomes-details"
           "expenses-details"
           "footer"
           ;
           
    }

   

    
   
   
}