.navbar-container {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sidebar-controller{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    
}
