:root {
    min-height: 100vh;
    font-family: var(--font-body);
    line-height: 1.5;
    font-weight: var(--font-weight-regular);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 2px solid var(--color-primary);
    border-radius: var(--v-1);
}

::-webkit-scrollbar-thumb {
    background: rgb(139, 195, 74);
    border-radius: var(--v-1);
    border: 2px solid var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(43, 81, 1) transparent;
}

*::-moz-scrollbar-thumb:hover {
    background: var(--color-primary);
}
