:root {
    font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(0, 0, 0, 0.87);
    background-color: #fdfdfd;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

   
    
}



    


* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
}


::-webkit-scrollbar {
    width: 10px; 
  }
  
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 2px solid greenyellow; 
    border-radius: 5px;
  
  }
  

  ::-webkit-scrollbar-thumb {
    background: rgb(139, 195, 74); 
    border-radius: 5px;
    border: 2px solid greenyellow;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: greenyellow;
  }
  
  
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(43, 81, 1) transparent;

   
  }
  

  *::-moz-scrollbar-thumb:hover {
    background: greenyellow;
  }