.textarea-container {
    display: flex;

    gap: 4px;
    color: hsl(0, 0%, 45%);

    &:focus-within {
        color: hsl(133, 12%, 31%);
    }
}

.textarea {
    font-family: var(--font-body);
    position: relative;
    resize: none;
    height: 180px;
    max-height: 180px;

    width: 100%;
    max-width: 100%;

    padding: var(--v-1-5) var(--v-2);
    outline: currentColor;
    border-radius: var(--v-2);
    border: 1px solid var(--color-input-border);
    color: var(--color-input-text);
    background-color: var(--color-input-bg);
    transition: outline 0.1s ease-in-out;

    &::placeholder {
        color: var(--color-input-placeholder);
    }

    &:focus {
        outline: 1.2px solid var(--color-input-focus-outline);
    }
}

.textarea-error {
    color: red;
    outline: 2px solid red;
}

.textarea-error-message {
    color: red;
}
