.platform-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(64px, 200px) auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "navbar navbar"
        "sidebar content";

    overflow: hidden;
    background-color: black;
    color: white;
}

#navbar-layout {
    grid-area: navbar;
}

#sidebar-layout {
    grid-area: sidebar;
}

#content-layout {
    grid-area: content;
    height: 100%;
    overflow-y: auto;
}

#footer-layout {
    grid-area: footer;
}

@media (max-width: 768px) {
    .platform-layout{
        grid-template-columns: 1fr;
        grid-template-rows: auto;;
        grid-template-areas: 
            "navbar"
            "content"
        ;
    }

    #sidebar-layout{
        position: absolute;
        left: 0;
        top:0;
        height: 100vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

}

