.platform-layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: minmax(auto, 50px) auto;
    grid-template-areas:
        "navbar navbar"
        "sidebar content";

    overflow: hidden;
    background-color: var(--color-bg);
    color: var(--color-text);
}

#navbar-layout {
    grid-area: navbar;
}

#sidebar-layout {
    grid-area: sidebar;
}

#content-layout {
    grid-area: content;

    overflow-y: auto;
    width: 100%;
}

#footer-layout {
    grid-area: footer;
}

@media (max-width: 1024px) {
    #content-layout {
        height: calc(100vh - 64px);
    }

    #sidebar-layout {
        height: calc(100vh - 64px);
    }
}

@media (max-width: 768px) {
    .platform-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "navbar"
            "content";
    }
}
