.sidebar-container {
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    max-height: 100dvh;
}

.sidebar-collapsed {
    width: var(--v-16);

    .sidebar-item-title,
    .sidebar-item-title-active {
        opacity: 0;
        width: 0;
        overflow: hidden;
        transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
    }
}

.sidebar-expanded {
    width: 200px;

    .sidebar-item-title,
    .sidebar-item-title-active {
        opacity: 1;
        width: auto;
        transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
    }
}

.sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    padding: var(--v-6) 0px;
    margin: 0;
    padding-left: var(--v-5);

    &list-item {
        padding: 0;
        margin: 0;

        margin-bottom: var(--v-2);
    }
}

.items-group {
    flex: 1;
}

@media (max-width: 768px) {
    .sidebar-container {
        position: absolute;

        left: 0;
        top: var(--v-16);
        height: calc(100dvh - var(--v-16));

        z-index: 10;
        background-color: #000;
        box-shadow: 0 6px 6px 0px #023a2b;
    }

    .sidebar-list {
        position: relative;
    }

    .sidebar-expanded {
        transition: transform 0.2s ease-in-out;
        transform: translateX(0);
        left: 200;
        width: 75%;
    }

    .sidebar-collapsed {
        transform: translateX(-100%);
    }

    .sidebar-overlay {
        position: fixed;
        top: 0;

        width: 25vw;
        right: -25vw;
        height: 100%;
        backdrop-filter: blur(4px);
        background-color: rgba(0, 0, 0, 0.5);
        filter: blur(4px);

        z-index: 9;
    }
}
