.button {
    font-weight: var(--font-weight-semibold);
    padding-inline: var(--v-3);
    padding-block: var(--v-2);
    border-radius: var(--v-2);
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    outline: none;

    &:focus {
        outline: none;
    }
}

.main-button {
    color: var(--color-button-text);
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary-hover);
    }

    &:focus {
        background-color: var(--color-primary-focus);
    }

    &:active {
        background-color: var(--color-primary-active);
    }
}

.destructive-button {
    color: white;
    background-color: hsl(348, 100%, 44%);

    &:hover {
        background-color: hsl(348, 100%, 52%);
    }

    &:focus {
        background-color: hsl(348, 100%, 52%);
    }
}

.outline-button {
    font-weight: var(--font-weight-semibold);
    color: var(--color-button-text-outline);
    background-color: transparent;
    border: 2px solid var(--color-primary);

    &:hover {
        background-color: var(--color-primary-hover);
        border: 2px solid var(--color-primary-hover);
        color: var(--color-bg);
    }

    &:focus {
        background-color: var(--color-primary-focus);
        border: 2px solid var(--color-primary-focus);
        color: var(--color-button-text);
    }

    &:active {
        background-color: var(--primary-active);
        color: var(--color-button-text);
    }
}
