.group-card-container {
    position: relative;
    background: radial-gradient(
        circle,
        var(--color-bg-tertiary),
        var(--color-bg-secondary)
    );

    box-shadow: 0 0 4px var(--color-border-primary);
    border-radius: var(--v-3-5);
    padding: var(--v-4);
    padding-inline: var(--v-6);

    display: grid;
    width: 100%;

    grid-template-columns: 8fr auto auto;
    grid-template-rows: auto auto auto;

    grid-template-areas:
        "info additional-info "
        "bars actions ";

    transition: all 0.12s ease-in-out;

    &:hover {
        box-shadow: 0 0 6px var(--color-border-secondary);
        cursor: pointer;
    }
}

.group-card-info {
    grid-area: info;
    margin-bottom: var(--v-2);
}

.group-card-title {
    font-size: var(--font-size-lg);
}

.group-card-description {
    font-size: var(--font-size-md);
    color: var(--color-text-secondary);
}

.group-card-bars {
    grid-area: bars;
}

.group-card-bar {
    display: flex;
    align-items: center;
    height: var(--v-2);
    width: 250px;

    margin-block: var(--v-2);

    padding: var(--v-2);
    font-weight: 500;
    font-size: var(--font-size-xxs);
    color: white;
    border-top-left-radius: var(--v-0-5);
    border-bottom-left-radius: var(--v-0-5);
    border-bottom-right-radius: var(--v-2);
    border-top-right-radius: var(--v-2);
}

.group-card-incomes-bar {
    background-color: var(--blue-500);
}

.group-card-expenses-bar {
    background-color: var(--red-500);
}

.group-card-additional-info {
    grid-area: additional-info;
    display: flex;
    align-items: start;
    justify-content: end;

    font-size: var(--font-size-base);
    color: var(--color-secondary);
    margin-left: var(--v-3);
    column-gap: var(--v-3);
}

.group-card-is-admin {
    &:hover {
        cursor: help;
    }
}

.group-card-additional-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--v-1);
}

.group-card-actions {
    grid-area: actions;

    display: flex;

    align-items: end;
    justify-content: end;

    column-gap: var(--v-0-5);
}

.group-card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: transparent;
    border-radius: 12px;
    color: var(--color-text-primary);
    transition: all 0.15s ease-in-out;
}

.group-card-action-normal:hover {
    cursor: pointer;
    background-color: var(--add-bg);
    color: var(--add-500);
}

.group-card-action-leave:hover {
    cursor: pointer;
    background-color: var(--destructive-bg);
    color: var(--destructive-500);
}

.add-member-modal {
    max-width: 600px;
    width: 100%;
}
