.chart-container {
    position: relative;
    width: 100%;
    height: 250px;
}

.chart-text {
}

.chart-text-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.custom-tooltip {
    border-radius: 0.5em;
    background-color: var(--color-bg);
    color: var(--color-text);

    padding: var(--v-1) var(--v-2) var(--v-1) var(--v-3);
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.custom-tooltip-label {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--v-3-5);
}

.custom-tooltip-amount {
    font-size: var(--v-3);
}

.vertical-line-ui {
    background-color: var(--color-primary);
    position: absolute;
    height: 100%;
    width: var(--v-1);
    left: 0;
    top: 0;
}

@media (max-width: 1024px) {
    .chart-container {
        height: 220px;
    }
}
