.main-input-container {
    display: flex;

    gap: var(--v-1);

    &:focus-within {
        color: var(--color-input-focus-outline);
    }
}

.main-input {
    font-family: var(--font-body);
    font-size: var(--font-size-md);
    position: relative;
    max-height: var(--v-9) !important;
    height: var(--v-9);

    width: 100%;

    border-radius: var(--v-2);
    border: 1px solid var(--color-input-border);

    padding-inline: var(--v-2);

    color: var(--color-input-text);

    background-color: var(--color-input-bg);
    transition: outline 0.1s ease-in-out;

    &::placeholder {
        color: var(--color-input-placeholder);
    }

    &:focus {
        outline: 1.2px solid var(--color-input-focus-outline);
    }
}

.main-input-error {
    color: var(--destructive-500);
    outline: 1.5px solid var(--destructive-500);
}

.main-input-error-message {
    font-size: var(--font-size-sm);
    color: var(--destructive-500);
}

.main-input-end-icon {
    position: absolute;
    right: var(--v-1-5);
    top: var(--v-1-5);
    z-index: 1;
    color: currentColor;
    fill: currentColor;
}
