.main-input-container {
    display: flex;

    gap: 4px;
    color: hsl(0, 0%, 45%);

    &:focus-within {
        color: hsl(133, 12%, 31%);
    }
}

.main-input {
    position: relative;
    height: 36px;
    width: 100%;

    border-radius: 8px;
    border-width: 0px;
    padding: 6px 8px;
    outline: currentColor;
    color: rgb(0, 26, 11);

    &:focus {
        outline: 1.5px solid greenyellow;
    }

    transition: outline 0.1s ease-in-out;
}

.main-input-error {
    color: red;
    outline: 2px solid red;
}

.main-input-error-message {
    color: red;
}

.main-input-end-icon {
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 1;
    color: currentColor;
    fill: currentColor;
}
