.main-input-container {
}

.main-input {
    height: 36px;
    width: 100%;

    border-radius: 8px;
    border-width: 0px;
    padding: 6px 8px;
    outline: none;

    &:focus {
        outline: 1.5px solid greenyellow;
    }

    transition: outline 0.1s ease-in-out;
}

.main-input-error {
    color: red;
    outline: 2px solid red;
}

.main-input-error-message {
    color: red;
}
