.add-member-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 12px;
}

.add-member-searcher {
    border-radius: 14px;
    width: 100%;
    display: flex;

    align-items: center;
    column-gap: 12px;
}

.add-member-searcher-input {
    border-radius: 12px;
    font-size: 16px;

    width: 100%;
    padding-inline: 12px;
    padding-block: 12px;
    outline: none;
    border: none;
}

.add-member-searcher-button {
    border-radius: 60px;
    width: 48px;
    padding-block: 8px;
    padding-inline: 8px;
    border: none;
}

.add-member-list {
    margin-top: 24px;
    min-height: 0dvh;
    max-height: 50dvh;
    width: 100%;

    background: radial-gradient(circle, #00000013, #04805500, #00000013);
    border-radius: 12px;
    overflow: auto;
}

.add-member-buttons-section {
    margin-top: 32px;
    display: flex;
    column-gap: 12px;
}
