.add-member-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding: var(--v-3-5);
    padding-top: var(--v-3);
}

.add-member-searcher {
    position: relative;
    border-radius: var(--v-3-5);
    width: 100%;
    display: flex;

    align-items: center;
    column-gap: var(--v-3);
}

.add-member-searcher-input {
    background-color: var(--color-input-bg);
    color: var(--color-input-text);
    border: 1px solid var(--color-input-border);
    font-family: var(--font-body);
    font-size: var(--font-size-md);

    border-radius: var(--v-3);

    font-size: 16px;

    width: 100%;
    padding-inline: var(--v-3);
    padding-block: var(--v-3);

    &::placeholder {
        color: var(--color-input-placeholder);
    }

    &:focus {
        outline: 1.2px solid var(--color-input-focus-outline);
    }
}

.add-member-searcher-button {
    border-radius: var(--v-16);
    width: var(--v-12);
    padding-block: var(--v-2);
    padding-inline: var(--v-2);
    border: none;
}

.add-member-list {
    margin-top: var(--v-6);
    min-height: 0dvh;
    max-height: 50dvh;
    width: 100%;

    background: radial-gradient(
        circle,
        var(--color-bg-secondary),
        var(--color-bg-tertiary),
        var(--color-bg-secondary)
    );
    border-radius: var(--v-3);
    overflow: auto;
}

.add-member-buttons-section {
    margin-top: var(--v-8);
    display: flex;
    column-gap: var(--v-3);
}

.add-member-results {
    position: absolute;
    width: 105%;
    display: flex;
    flex-direction: column;
    row-gap: var(--v-);
    top: var(--v-10);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    border: 1px solid 
    border-radius: var(--v-3);
    padding: var(--v-3);
}
