.form-transaction-container {
}

.select-container,
.ant-select-selector {
    display: flex;
    width: 100% !important;
    min-height: var(--v-9) !important;
    height: var(--v-9) !important;
    border-radius: var(--v-2) !important;
    border: 0.2px solid var(--color-input-border) !important;
    color: var(--color-input-text) !important;
    background-color: var(--color-input-bg) !important;
    font-family: var(--font-body) !important;
    font-size: var(--font-size-md) !important;

    outline: none !important;
}

.ant-select-selector,
.ant-select-outlined {
    outline: none !important;
}

.ant-select-focused:where(
        .css-dev-only-do-not-override-19lec04
    ).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
    ):not(.ant-pagination-size-changer)
    .ant-select-selector {
    box-shadow: 0 0 0 1px var(--color-input-focus-outline) !important;
}

.ant-select {
    border: none !important;
}

.ant-select-focused {
    border: none !important;
}

.ant-select-selection-placeholder {
    color: var(--color-input-placeholder) !important;
}

.ant-select-selection-item {
    color: var(--color-input-text) !important;
}

.select-popup-container {
    border-radius: var(--v-2) !important;
    border: 0px solid var(--color-input-border) !important;
    color: var(--color-input-text) !important;
    background-color: var(--color-input-bg) !important;

    .ant-select-item {
        color: var(--color-input-placeholder) !important;
        border: none;
    }

    .ant-select-item-option {
        color: var(--color-input-placeholder) !important;
        background-color: var(--color-input-bg) !important;
    }

    .ant-select-item-option-selected {
        color: var(--color-input-text) !important;
        background-color: transparent !important;
    }

    .ant-select-item-option-active {
        color: var(--color-input-text) !important;
        background-color: var(--color-bg-hover) !important;
    }

    .ant-select-item-option-hover {
        color: var(--color-input-text) !important;
    }
}

.option-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--v-2);
}

.option-color-tag {
    height: var(--v-3-5);
    width: var(--v-3-5);
    border-radius: 100%;
    display: flex;
}

.form-transaction-buttons-container {
    display: flex;
    justify-content: center;
    gap: var(--v-2);
}
