.dialog-container {
    color: var(--color-text);
}

.dialog-content {
    margin-bottom: 2em;
}

.dialog-title {
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.1em;
}

.dialog-subtitle {
    color: var(--color-text-secondary);
    margin-bottom: 0.2em;
}

.dialog-message {
    font-size: 0.85em;
    color: rgb(176, 176, 176);
}

.dialog-buttons-section {
    margin-top: 0.5em;

    display: flex;
    column-gap: 0.8em;
    justify-content: end;
}
