.form-group-container {
    display: flex;
    flex-direction: column;
    gap: var(--v-4);
    justify-content: center;
    align-items: center;
    height: 300px;
    min-width: 270px;
}

.form-group-buttons-container {
    display: flex;
    justify-content: center;
    gap: var(--v-2);
}
